## Homework 3

85 points

Due 11/17 11:59pm

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

import numpy as np
import numpy.linalg as la
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
%matplotlib inline

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,roc_curve,auc
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [3]:
import catboost
from catboost import CatBoostClassifier,CatBoostRegressor
from catboost import Pool
from catboost import MetricVisualizer
from catboost import cv
print('Catboost version: ',catboost.__version__)

Catboost version:  0.24

In [ ]:
import xgboost as xgb
from xgboost import XGBClassifier,XGBRegressor

## Evaluation functions 

* These functions will be used in the analysis

### 1) Classification (7 pts)

Create a function call eval_classifier with arguments:
    a Classifier model,
    the test feature array,
    and the test target array.  
Predict the test data.  
Create and print the Confusion matrix  
Calculate and print classification accuracy, recall precision and F1

In [ ]:
# Your code here

### 2) Regression (4 pts)

Create a function called eval_regressor with arguments:
    a Regression model,
    the test feature array,
    and the test target array.  
Predict the test data.  
Calculate and print the R-squared and Root Mean Squared Error

In [ ]:
# Your code here

### 3) Feature Importance (4 pts)

Create a function called rf_feature_importances with arguments a RandomForest classifier or regressor and the features data frame.  
The function prints a  list of feature names and values sorted by importance.

In [ ]:
# Your code here

## All other codeblocks that you code are worth 2 pts

## Classification Problem with Auto dataset

* Goal: Predict origin from all the other variables

In [4]:
cars = pd.read_csv('auto.csv')
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
387,27.0,4,140.0,86,2790,15.6,82,1
388,44.0,4,97.0,52,2130,24.6,82,2
389,32.0,4,135.0,84,2295,11.6,82,1
390,28.0,4,120.0,79,2625,18.6,82,1
391,31.0,4,119.0,82,2720,19.4,82,1

### Preprocessing

Create the features and  the target as **dataframes**.

In [ ]:
X = cars.iloc[:, 0:7]
y = cars.iloc[:, 7]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

### 4) Random Forest Classifier on Auto dataset

#### Create, fit and evaluate (i.e. call eval_classifier) a Random Forest Classifier of 200 trees and with the 'gini' metric and random_state = 1234

In [ ]:
# Your code here

#### Do a 10-fold Grid Search to find the best number of trees, the number of feats to consider when splitting and the criterion.

n_estimators: 10, 100, 500   
max_features: 3,4,5,6  
criterion: 'gini','entropy' 

Use 'accuracy' as the scoring metric.

In [ ]:
# Your code here

#### Create, fit and evaluate a model with the best parameters

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.25)
Xtrain.shape, Xtest.shape, ytrain.shape, ytest.shape

In [ ]:
# Your code here

#### Call rf_feature_importances

In [ ]:
# Your code here

### 5) CatBoost Classifier Auto dataset

#### Create CatBoost Pool objects for training and test.

Use 'cylinders' and 'year' as categorical variables

In [ ]:
# Your code here

#### Create, fit and evaluate fit a CatBoost  classifier with 300 trees and a learning rate of 0.075

Show the plot and output the loss every 100 trees.

In [ ]:
# Your code here

#### Display the feature importance dataframe

In [ ]:
# Your code here

#### Do a 5-fold grid search for parameters learning_rate and depth.

learning_rate: 0.01, 0.5, 1.0  
depth: 4,5,6


Do 500 trees.
Set early_stopping_rounds to 20.
Verbose=False

Print parameters of best estimator

In [ ]:
# Your code here

#### Call eval_classifier with best estimator

In [ ]:
# Your code here

### 6) XGBoost Classification on Auto dataset

####  Create, fit and evaluate a  XGBoost classifier with 200 trees

In [ ]:
# Your code here

#### Plot Feature Importances

In [ ]:
# Your code here

## Regression

* Goal: Predict Sales as a function of the other variables

In [5]:
seats = pd.read_csv('Carseats.csv')
seats.tail()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

### Preprocessing

Create the features and  the target as **dataframes**.
Split the data using a test_size of .25 with random_state = 42.

In [ ]:
X = seats.iloc[:,1:]
y = seats.loc[:,'Sales']
print(type(X),type(y))


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

### 7) CatBoost Regression on the Seats dataset

#### Create CatBoost Pool objects for training and test.

Use 'ShelveLoc','Urban',and 'US' as categorical variables

In [ ]:
# Your code here

#### Create, fit and evaluate (i.e. call eval_regressor) a CatBoost Regressor model with 'RMSE' as the objective

Enable the plot of the training and test loss  
Set verbose = 200

call eval_regressor with the validation(i.e. test) pool objectg

In [ ]:
# Your code here

#### Display the feature importance dataframe

In [ ]:
# Your code here

### 8) XGBoost Regression

In [ ]:
X.head()

#### Encode 'ShelveLoc', 'Urban' and 'year'

In [ ]:
# Your code here

#### Create, fit and evaluate a XGBoost regressor with squarederror as the objective

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# Your code here

#### Call rf_feature_importances

In [ ]:
# Your code here

#### Plot feature importances

In [ ]:
# Your code here

#### Do a 5-fold XGBoost Cross Validation

The result should be a dataframe.
use 'r2' as a metric

**Parameters:**  
objective = squarederror  
learning rate = 0.075  
max_depth = 6  
alpha = 10  
colsample_bytree = .5

Display the describe method for the dataframe.

In [ ]:
# Your code here

### 9) Random Forest Regression on the seats dataset

#### Create,fit and evaluate a  Random Forest regressor with 200 trees

In [ ]:
# Your code here

#### Call rf_feature_importances

## Missing values dataset

* Goal: Binary classification on column 27 of dataset as a function of all the other variables

* Missing data in dataset indicated by ?

In [6]:
# load data
hw3 = pd.read_csv("HW3.csv", delim_whitespace=True, header=None)
hw3.tail()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
295,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
296,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
297,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
298,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
299,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

### 10) XGBoost Classification of HW3

In [ ]:
X = hw3.iloc[:,0:27]
y = hw3.iloc[:,27]

# set missing values
miss_val = np.nan
X[X == '?'] = miss_val

#### Preprocessing

Encode the dependent variable  
Impute missing values with the 'median' value.

In [ ]:
# Your code here

#### Create, fit and evaluate a XGBoost Classifier with 200  trees

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.25, 
                                                    random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# Your code here

#### Do a 5-fold XGBoost Cross_validation with the parameters given below and a metric of 'auc'

objective: binary:logistic  
colsample_bytree: 0.3  
learning_rate: 0.1  
max_depth: 5  
alpha: 10  


set as_pandas = True

In [ ]:
# Your code here

### 11) Random Forest on missing values dataset

#### Create, fit and evaluate a Random Forest Classifier with 200 trees

In [ ]:
# Your code here

#### Calculate the AUC for the model

In [ ]:
# Your code here

### 12) CatBoost Classification on missing values dataset

#### Create feature and target numpy arrays and set missing values (i.e. '?') to the string 'nan'

In [ ]:
# split data into X and y
X = hw3.iloc[:,0:27].values
y = hw3.iloc[:,27].values

# set missing values

X[X == '?'] = 'nan'

#### Set the cat_features variable to the index of the feature variables that have less than 10 unique values.

In [ ]:
# Your code here

#### Create,fit and evaluate a CatBoost Classifier with 200 trees and  0.075 learning rate

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.25, 
                                                    random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# Your code here

### CatBoost Cross-Validation

#### Create a training pool object with cat_features

In [ ]:
# Your code here

#### Do a 5-fold cross-validation with the parameters given below

loss_function: Logloss  
iterations: 80  
custom_loss: Accuracy  
learning_rate: 0.5  



Enable the Plot
Set verbose=False

In [ ]:
# Your code here

#### Print the best value and best iteration

In [ ]:
# Your code here

#### Display the summary statistics for the Cross Validation dataframe

In [ ]:
# Your code here

### 13) CatBoost - all categorical with strings

* Goal: predict class from all the other variables

In [7]:
mrm = pd.read_csv('mushrooms.csv')
mrm.tail()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
8119,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l

In [8]:
for n,v in zip(mrm.columns.tolist(),list(map(lambda x: len(np.unique(mrm.loc[:,x])), mrm.columns))):
    print(f'{n}: {v}')

class: 2
cap-shape: 6
cap-surface: 4
cap-color: 10
bruises: 2
odor: 9
gill-attachment: 2
gill-spacing: 2
gill-size: 2
gill-color: 12
stalk-shape: 2
stalk-root: 5
stalk-surface-above-ring: 4
stalk-surface-below-ring: 4
stalk-color-above-ring: 9
stalk-color-below-ring: 9
veil-type: 1
veil-color: 4
ring-number: 3
ring-type: 5
spore-print-color: 9
population: 6
habitat: 7

In [ ]:
X = mrm.iloc[:,1:]
y = mrm.loc[:,'class']

#### Create, fit and evaluate a CatBoost Classifier with 200 trees and 0.075 learning rate

Set cat_features to all the features

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# Your code here

#### Create and display the  feature importance dataframe

In [ ]:
# Your code here

#### Create training and test data using the top 4 features in feature importance

In [ ]:
# Your code here

#### Create,fit and evaluate a CatBoost Classifier with 200 trees and 0.075 learning rate

Plot training and test loss  
verbose = 20

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# Your code here